* {
padding: 0%;
margin: 0%;

}

html, body {
  height: 100%;
}


body {
    
  background-color: #86E9FF;
    
    }
    .timer__items {
      display: flex;
      font-size: 48px;
    }

    .timer__item {
      position: relative;
      min-width: 60px;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 15px;
      text-align: center;
    }

    .timer__item::before {
      content: attr(data-title);
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      font-size: 14px;
    }

    .timer__item:not(:last-child)::after {
      content: ':';
      position: absolute;
      right: -15px;
    }
    .content{
    margin: auto;
      width: 80% ;


    }
    .content a{
      
      color: rgb(0, 0, 0);
      text-decoration: none;
      
    }
  
    nav {
      
        margin: 0px 0;

    }
    
    /* убираем отступы и поля, а также list-style для "ul", 
     * и добавляем "position:relative" */
    nav ul {
    
        background: linear-gradient(to bottom, #66CCFF 82%, #9FDFFF 100%);
        padding:0;
        margin:0;
        list-style: none;
        position: relative;
        }
    
    /* применяем inline-block позиционирование к элементам навигации */
    .onemen {
        margin: 0px -7px 0 0;
        display:inline-block;
        }
        .twomen{
            background-color: #66CCFF;
            
        }
    
    /* стилизуем ссылки */
    nav a {
        display:block;
        padding:0 10px;
        color:rgb(0, 0, 0);
        font-size:20px;
        line-height: 60px;
        text-decoration:none;
    }
    
    /* изменяем цвет фона при наведении курсора */
    nav a:hover {
        background-color: #a7a6ff;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
  display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
  min-width:170px;
  float:none;
  display:list-item;
  position: relative;
}
.logo{
  margin: auto;
  width: 401px;
  height: 118px;
  padding-bottom:40px ;
  padding-top: 20px;
  
 
  }
  .logo h3{
  text-align: center;


  }

.footer {
    margin-top: 100px;
  

  background: linear-gradient(to top, #000000 82%, #9FDFFF 100%);
  
  
    width:100%;
  
    height: 100px;
  
  }
  .footer-content-right {
 
    padding-right:40px;
    float:right;
  
  }
  
  .icon-style {
  
    height:40px;
  
    margin-left:20px;
  
  }
  
  .icon-style:hover {
  
   
    padding:5px;
  
  }
  .left-content{

    text-align: center;

    color: rgb(255, 255, 255);

    padding-top: 20px;
    font-size:25px;

    padding-left:40px;
  
    float:left;
  
  }


  .content-center{
    padding-top: 30px;

    color: #99B6FF;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    font-family: helvetica;    


  }
  a { 
 
    
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 
   .container_slider_css{margin:50px auto;width:1000px;height:500px;overflow:hidden;position:relative}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{width:80%;height:190px}
}


.inf{
  background: linear-gradient(180deg, rgba(124, 107, 125, 0.49) 0%, rgba(110, 141, 177, 0) 99.99%, rgba(137, 72, 72, 0) 100%);

  margin: auto;
height: 594px;
width: 80%;

font-family: 'Bree Serif';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 87px;
text-align: center;

color: #000743;
}

.opros{

  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #3E6284 100%);

 
  height: 594px;
  width: 80%;
  margin: auto;
  
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  
  color: #000743;
  

}

.novosti{
 width: 80%;
  margin: auto;
  text-align: center;
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 20px;
  
}
.novosti img{

 margin: 20px;
 
}



.slog{
 
  width: 463px;
  height: 43px;

  
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  
  color: #000000;
  
}


.okom h2{
  margin-top: 30px;
  text-align: center;


}
.okom img{
  height: 500px;
  margin-left: 20%;
  width: 633px;


}
.okom h4{
  margin-top: 10px;
  text-align: center;


}
.vakan{
  border-radius: 34px;
  margin: auto;
  width: 70%;
  background-color: #6FB1D7;
  padding: 20px;
}
.vakinf{
  font-size: 14px;
  font-family: "Trebuchet MS", Verdana, sans-serif;


}
.vakansia{
  margin: 20px auto;
  background-color: #6FB1D7;
  border-radius: 34px;
  width: 70%;
  padding: 20px;


}
.vakansia a{
  color: rgb(0, 0, 0);
  text-decoration: none;



}
.answer{
  padding-left: 5px;
  height: 20px;
  margin-top:10px;


}
.answew{
  padding-left: 5px;
  height: 100px;
  margin-top:10px;


}
.nagradi{
  margin: auto;
  width: 650px;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.nagradi img{
padding-top: 40px;
height: 232px;
}

.nagrada {
  text-align: center;
  margin: auto;
}
.nag1,.nag2,.nag3,.nag4{
 
  text-align: center;
  display: flex;
  flex-direction: column
}

.magaz{
  text-align: center;
  font-size: 34px;


}

.voprosi{

  flex-direction: column;


  display: flex;
  padding-left: 60px;
  margin: auto;
  width: 60%;
  background: #5F98CC;
  

  border-radius: 57px;

}
.voprosi p{
  width: 30%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;


}
.voprosi span,h1{
  padding-top: 4px;


}
.faq form{
margin-top: 20px;
margin-left: 20%;

}
.faq input{
  margin: 5px;


}
.kotal{
  flex-wrap: wrap;
display: flex;
width: 80%;
margin: auto;

}
.tovar1, .tovar2, .tovar3,.tovar4{
  display: flex;
padding: 15px;
background: #93DAF9;
margin-left: auto;
margin-top: 20px;
flex-direction: column;
text-align: center;
font-size: 24px;
border-radius: 40px;
}
.kotal p{
  padding-top: 5px;
text-align: end;
}
.tovar{
 display: flex;
 margin-left: 35%;

}
.optov{
  padding-left: 20px;
  padding-top: 50px;


}
.optov p{
  padding-top: 20px;
  font-size: 20px;

}

.kup{
  margin-top: 20px;
  
  background:#93DAF9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px;
  border-radius: 20px;
}

.obsv p{
  text-align: center;


}

.YouTube,.teleg,.vk{
 
  background-color: #93DAF9;
  width: 50%;
  border-radius: 30px;
  flex-direction: row;
  display: flex;
  
}
.YouTube, p{
margin-top: 17px;
margin-left: 2px;


}

.teleg, p{
  margin-top: 17px;
  margin-left: 2px;
  
  
  }
  .vk, p{
    margin-top: 17px;
    margin-left: 2px;
    
    
    }

    .oziv form{
      margin-left: 450px;



    }

